<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492377807560-a6g6sdp3hgq7mpnhk7ekgc9drqnek6cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492377807560-a6g6sdp3hgq7mpnhk7ekgc9drqnek6cu</string>
	<key>API_KEY</key>
	<string>AIzaSyDKqEKgsGEAh1PgAYR8gT4ux6v3u48VJn4</string>
	<key>GCM_SENDER_ID</key>
	<string>492377807560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oguzkaya.SEN4992</string>
	<key>PROJECT_ID</key>
	<string>capstone-project-c708b</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-project-c708b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492377807560:ios:5bdd377404030de119a3fd</string>
</dict>
</plist>